<h1></h1>

<p>
비밀번호를 변경하시려면 아래의 링크를 눌러주세요. 
</p>
<!--<a href="<%=@host%>/user/forgot_change?code=<%=@verification.code%>">인증하기</a>-->
<a href="http://54.180.113.12:3000/user/forgot_change?code=<%=@verification.code%>">인증하기</a>

