
<h1>Post#new</h1>
<form action="/post/create"> <!--post/create 페이지로 이동--> 
	<input type="hidden" id="lat" name="lat" value="0">
	<input type="hidden" id="lng" name="lng" value="0">
	<input type="hidden" id="address" name="address" value="">


    <p>
        <label for="title">제목:</label>
        <input type="text" name="title">
    </p>
    <p>
        <div id="map" style="width:500px; height:400px;"></div>
		<div id="map_message"></div>
    </p>
    <hr>
        <textarea name="contents"> </textarea>
        <button type="submit">글쓰기!</button>
</form>


<script>
	var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
	var options = { //지도를 생성할 때 필요한 기본 옵션
		center: new kakao.maps.LatLng(37.5597476,126.9433341), //지도의 중심좌표.
		level: 6 //지도의 레벨(확대, 축소 정도)
	};

	var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

	//지도를 클릭한 위치에 표출할 마커입니다.
	var marker = null;

	// 지도에 클릭 이벤트를 등록합니다
	// 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
	kakao.maps.event.addListener(map, 'click', function(mouseEvent) {        
		if(marker == null){
			marker = new kakao.maps.Marker({
				position: map.getCenter()
			});
			marker.setMap(map);
		}	
		// 클릭한 위도, 경도 정보를 가져옵니다 
		var latlng = mouseEvent.latLng; 
		// 마커 위치를 클릭한 위치로 옮깁니다
		marker.setPosition(latlng);
		
		$('#lat').val(latlng.getLat());
		$('#lng').val(latlng.getLng());
		$('#map_message').text('선택한 위치는 '+latlng.getLat()+','+latlng.getLng()+'입니다.');

	});
</script>
